enable
vlan database
{% for svi in svis %}
vlan {{ svi.vlan }}
vlan routing {{ svi.vlan }}
{% endfor %}
exit
configure
{% for svi in svis %}
interface vlan {{ svi.vlan }}
ip address {{ svi.ip }} {{ svi.mask }}
no shutdown
exit
{% endfor %}
exit
write memory
y
logout
