{% if image_method == 'scp' %}
copy scp://{{{ image_server_username }}@{{ image_server_host }}:{{ image_path }}/{{ image_file }} {{ boot_image }}

{% elif image_method == 'sftp' %}
copy sftp://{{ image_server_username }}@{{ image_server_host }}{{ image_path }}/{{ image_file }} {{ boot_image }}

{% elif image_method == 'tftp' %}
copy tftp://{{ image_server_username }}@{{ image_server_host }}/{{ image_path }}{{ image_file }} {{ boot_image }}

{% else %}
{% endif %}
