enable
configure
{% for pool in dhcp_pools %}
ip dhcp pool {{ pool.name }}
network {{ pool.network }} {{ pool.mask }}
default-router {{ pool.gateway }}
dns-server {{ pool.dns }}
exit
{% endfor %}
exit
write memory
logout

